@charset "UTF-8";
/* Reset Formatting */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*** Formatting ***/
body {
    background: #F2F2F6;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
    table-layout: fixed;
    overflow: visible;
    margin: auto;
    width: 1125px;
    text-align: center;
    background-color: #fff;
    border-collapse: collapse;
}

table.top {
    margin-top: calc(100% / 11.71875);
    border-top: 1px solid #C6C6C7;
}

table.bottom {
    margin-bottom: 214px;
    border-bottom: 1px solid #C6C6C7;

}

caption {
    margin-left: calc(100% / 23.4375);
    margin-bottom: 22px;
    text-align: left;
    font-size: 2.4375em;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3C3C43;
    opacity: 60%;
}

.key, .value {
    vertical-align: middle;
    border-top: 1px solid #C6C6C7;
    font-size: 3.1875em;
    letter-spacing: calc(100% / 1500);
    padding: 40.5px 0 39.5px;
    word-wrap: break-word;
}

.key {
    text-align: left;
    margin-right: 15px;
}

.value {
    text-align: right;
    padding-right: calc(100% / 23.4375);
    color: #3C3C43;
    opacity: 60%;
}

.spacer {
    border: 0;
    width: calc(100% / 23.4375);
}

.l2 .value {
    padding-right: 116.5px;
}

svg {
    margin: 0 0 calc(100% / 375) calc(100% / 93.75);
    fill: #C7C7CC;
}