@charset "UTF-8";
/* Reset Formatting */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*** Formatting ***/
body {
    background: #F2F2F6;
    overflow: visible;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
    position: relative;
    height: 42px;
    width: 100vw;
    font-size: 3.1875em; /* 51px */
    color: #007aff;
}
header div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header div * {
    font-stretch: 24px;
    position: relative;
    display: inline;
    vertical-align: middle;
}

table {
    margin: auto;
    background-color: #fff;
    border-collapse: collapse;
    max-width: 1125px;
    width: 1125px;
    overflow: hidden;
}
table:last-of-type {
    margin-bottom: 214px;
}
tr {
    max-width: 1125px;
}

caption {
    margin-left: calc(100% * (48 / 1125));
    margin-bottom: 22px;
    text-align: left;
    font-size: 2.4375em; /* 39 */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3C3C43;
    opacity: 60%;
    margin-top: 96px;
}

tr:first-of-type {
    border-top: 1px solid #C6C6C7;
}
tr:last-of-type {
    border-bottom: 1px solid #C6C6C7;
}
table:last-of-type .key, table:last-of-type .value {
    padding-top: 40.5px!important;
    padding-bottom: 38.5px!important;
}

.spacer {
    border: 0;
    width: calc(100% * (48 / 1125));
}

.key, .value {
    font-size: 3.1875em; /* 51px */
    letter-spacing: 75%;
    border-top: 1px solid #C6C6C7;
    padding: 40.5px 0 39.5px;
}

.key {
    text-align: left;
    padding-right: calc(75% * (48 / 1125));
}

.value {
    text-align: right;
    padding-right: calc(100% * (48 / 1125));
    /* color: #3C3C43; */
    opacity: 60%;
    word-break: break-all;
}

 /* Make text unselectable */
 .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}